@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #58B19F;
}

.container {
    margin: 10px;
    padding: 15px;
    border-radius: 4px;
    background-color: #CAD3C8;
    filter: drop-shadow(1px 1px 10px #CAD3C8);
}

.text h1 {
    text-transform: uppercase;
    padding: 10px;
    color: #1B9CFC;
    font-weight: 500;
    font-size: 20px;
}

.inputs {
    margin: 2px;
    padding: 4px;
}

.buttons input {
    flex: 1;
}

input[type="number"] {
    width: 100%;
    outline: none;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.buttons {
    display: flex;
    border: 1px solid #ccc;
}

input[type="text"] {
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 3px;
    flex: 1;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    cursor: pointer;
    background-color: #26de81;
    padding: 6px;
    border: none;
    border-radius: 3px;
}

button:hover {
    filter: drop-shadow(1px 1px 10px #26de81);
}

.check-box {
    padding: 3px;
}

.input-box label {
    color: #fd9644;
}

.check-box label {
    cursor: pointer;
}

.copied {
    width: 100%;
    margin: 10px 0px;
    text-align: center !important;
    padding: 3px;
    background-color: #44fd6c;
    transition: 0.5s;
    filter: drop-shadow(1px 1px 10px #26de81);
    cursor: not-allowed;
}

.generate button {
    width: 100%;
    padding: 5px;
    background-color: #fd9644;
    margin: 4px 0px;
    transition: 0.5s;
}

.generate button:hover {
    filter: drop-shadow(1px 1px 10px #fd9644);
}